# Ignore node_modules folder
node_modules/

# Ignore specific files
tryit.html
tryit2.html
tryit3.html
save.html
galery.html
tailwind.config.js
pages/about.html
assets/image/hero

# Other common files to ignore
.DS_Store
*.log
*.tmp
*.json
*.bak
