html {
    scroll-behavior: smooth; /* Mengatur efek smooth scroll untuk seluruh halaman */
}
.hero {
    background-image: url('/assets/image/bgmobile.png'); /* Gambar untuk layar mobile */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  .hero::after {
    content: '';
    background-image: url('/assets/image/logoblurfix.png');
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 80%;
    height: 90%; 
    z-index: 1;
    opacity: 0.8;
}

.hero__text {
    position: relative; /* Konten teks tetap di atas */
    z-index: 2; /* Pastikan teks terlihat di atas gambar tulisan */
}

  /* Gambar untuk layar yang lebih besar (tablet, desktop) */
  @media (min-width: 768px) {
    .hero {
      background-image: url('tablet-bg.jpg'); /* Gambar untuk layar tablet */
    }
  }

  @media (min-width: 1024px) {
    .hero {
      background-image: url('/assets/image/justbg2.png'); /* Gambar untuk layar desktop */
    }
  }
  @media (max-width: 767px) {
    .hero::after {
        display: none; /* Menyembunyikan elemen pada layar mobile */
    }
}  
  
.timeline::before {
    content: '';
    position: absolute;
    background-color: #d1d5db; /* Tailwind Gray-300 */
    z-index: 0; /* Garis timeline berada di belakang lingkaran */
}

@media (min-width: 768px) {
.timeline::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(-50%);
}

.timeline-item {
    width: 1/5; /* Atur lebar sesuai kebutuhan */
    position: relative;
    text-align: center;
    padding-top: 7rem; /* Ruang untuk teks di bawah garis */
}

.timeline-item .flex-shrink-0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.timeline-item .text-container {
    margin-top: 1rem;
}
}

@media (max-width: 767px) {
.timeline::before {
    left: 2rem; /* Posisi garis timeline di sebelah kiri */
    top: 0;
    width: 4px;
    height: 100%;
    transform: none;
}

.timeline-item {
    position: relative;
    padding-left: 6rem; /* Ruang untuk garis timeline */
    left: -20px;
    margin-bottom: 2rem;
}

.timeline-item .flex-shrink-0 {
    position: absolute;
    left: 2rem; /* Sesuaikan dengan posisi garis timeline */
    top: 0;
    transform: translateY(20);
    z-index: 1;
}

/* Animation Styles */
.timeline-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
}

.timeline-item.visible {
    opacity: 1;
    transform: translateY(0);
}
}